# Canadian Housing Market Forecasting: Time Series Analysis & Modelling.
Description:

In [4]:
import numpy as np
import pandas as pd
from pathlib import Path
%matplotlib inline

import warnings
warnings.simplefilter(action='ignore', category=Warning)

# Data Ingestion and Data Cleaning
Description:

In [6]:
#csv for mortgage rates chartered_bank_interest.csv
#ingest the csv 
#take all dates after 1975-01-01
#take only the column named 5-year Conventional mortgage
df_chartered_bank_i = pd.read_csv('../Resources/Datasets/chartered_bank_interest.csv', index_col="date", infer_datetime_format=True, parse_dates=True)
df_chartered_bank_i.tail()

,Prime rate,1-year Conventional mortgage,3-year Conventional mortgage,5-year Conventional mortgage,1-year GIC,3-year GIC,5-year GIC,5-year personal fixed term,"Daily Interest Savings (balances over $100,000)",Non-Chequable Savings Deposits
date,,,,,,,,,,
2021-11-03,2.45,2.79,3.49,4.79,0.25,0.60,1.00,0.70,0.01,0.01
2021-11-10,2.45,2.79,3.49,4.79,0.25,0.60,1.00,0.70,0.01,0.01
2021-11-17,2.45,2.79,3.49,4.79,0.25,0.60,1.00,0.70,0.01,0.01
2021-11-24,2.45,2.79,3.49,4.79,0.25,0.60,1.00,0.70,0.01,0.01
2021-12-01,NaN,2.79,3.49,4.79,0.35,0.75,1.18,1.28,0.01,0.01

In [8]:
# Data ingestion - reading the CSV in from Statistics Canada and the Bank of Canada
#Credit liabilities of households.csv
# Residential mortgages 9+
df_Residential_mortgages = pd.read_csv('../Resources/Datasets/Credit liabilities of households.csv')
df_Residential_mortgages.head()

,Date,Jan-90,Feb-90,Mar-90,Apr-90,May-90,Jun-90,Jul-90,Aug-90,Sep-90,...,20-Dec,21-Jan,21-Feb,21-Mar,21-Apr,21-May,21-Jun,21-Jul,21-Aug,21-Sep
0,Non-mortgage loans,"121,607","121,404","122,358","122,922","123,435","124,132","124,492","124,806","125,752",...,"787,490","780,670","779,984","779,926","783,466","787,770","792,582","793,265","798,152","802,793"
1,Chartered banks 1,"77,976","77,819","78,386","78,566","78,941","79,564","80,005","80,526","81,519",...,"575,885","571,698","572,927","575,120","578,333","581,681","586,632","587,778","591,617","595,916"
2,Personal loans 1 2,"31,781","31,769","31,878","32,099","32,316","32,539","32,687","32,805","32,854",...,"113,070","115,030","115,131","114,723","115,259","115,462","116,026","116,245","116,837","117,381"
3,Of which: Auto loans 1 2,0,0,0,0,0,0,0,0,0,...,"90,763","90,156","89,902","90,276","90,681","90,911","91,542","91,917","92,298","92,252"
4,Credit cards 1 2,"9,090","8,768","8,728","8,883","9,050","9,232","9,310","9,516","9,788",...,"78,388","73,786","73,374","74,232","74,249","75,221","76,422","77,223","78,335","79,324"

In [ ]:
#take the csv in 
#extract this column name: Credit liabilities of households 1 2 3
#extract this column name: Residential mortgages 9 
#flip the row into a column (transpose method)
#since the dates won't match, we need to add null values